body {
  padding: 20px 0;
}

.flash-message {
  margin-top: 20px;
}

.form-question {
  padding: 15px;
}

.answer label,
.answer input,
.form-question span {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}
.answer label {
  width: 90%;
  font-weight: 400;
}
.answer input {
  width: 9%;
  height: 20px;
}
.form-question span.q {
  max-width: 90%;
  width: 100%;
}
.form-question span {
  vertical-align: top;
}

.alert {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  width: 100%;
  height: 5vh;
  text-align: center;
}

@font-face {
  font-family: "Segment7";
  src: url("./digital-7.ttf");
  font-weight: normal;
}

.clock {
  font-family: Segment7;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 52px;
  height: 25px;
  background-color: rgba(0, 140, 0, 0.32);
  color: #dfd;
  font-size: 25px;
  border-radius: 5px;
  padding: 0px 5px 15px 5px;
  box-sizing: content-box;
  text-align: center;
}

.form-group.upload {
  font-size: 0;
}

.form-group.upload label.btn {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.upload .form-control {
  width: 80%;
  display: inline-block;
  border-radius: 0 4px 4px 0;
}

#fileone,
#filetwo {
  position: absolute;
  left: -1000px;
}

label.u1,
label.u2 {
  font-size: 15px;
}

img.u1,
img.u2 {
  width: 100%;
  height: 420px;
  display: block;
  background: #e3e3e3;
  margin: 5px 0;
}

.form-group {
  margin-bottom: 15px;
  width: 50%;
  padding: 1%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.nav.nav-tabs li:last-child {
  float: right;
  border-radius: 4px 4px 0 0;
}
.nav.nav-tabs li:last-child a {
  color: #fff;
}

.nav.nav-tabs li:last-child:hover {
  /* color:#fff; */
  background: #e3e3e3;
}

.nav.nav-tabs li:last-child:hover a {
  color: red;
}

.nav > li:last-child > a:hover,
.nav > li:last-child > a:focus {
  text-decoration: none;
  background-color: none;
}

/* list */

.userList,
.userList_form {
  display: flex;
  flex-direction: column;
}

.user_info,
.userList_item {
  /*display: flex;*/
  align-items: center;
}

.user_foto,
.userList_item {
  margin: 5px;
}

.user_foto {
  height: 150px;
  width: 120px;
  background: #e3e3e3;
}
.user_info {
  width: 100%;
}

.userList_search {
  margin: 10px 0;
}
.userList_form {
  padding-right: 10px;
  height: 80vh;
  overflow: hidden scroll;
}
.userList_item:hover,
.userList_item.nohover .user_foto:hover,
.userList_item.nohover .user_info > *:hover {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 5px;
  cursor: pointer;
}

.userList_item.nohover{
  background: none;
  border-radius: 0;
}

.userList_title {
  padding-right: 10px;
  margin: 5px;
}

.userList_title .user_foto {
  background: none;
  height: auto;
}

/*#clientTable tr, th{*/
/*  border: 2px silver solid;*/
/*}*/




