node_modules/
package-lock.json
package-lock.json.1806199047
parser/1.html
parser/2.html
parser/3.html
parser/4.html
parser/5.html
parser/Питання  інструкція.docx
parser/Питання по КАСУ.docx
parser/Питання_до_локальної_програми_по.docx
parser/Службова_записка_тести_по_Закону.docx
parser/Тестові питання етика поведінка.docx
src/