<form method="post" id="add_new">
  <div class="form-group">
    <label for="lastName">Прізвище</label>
    <input type="text" id="lastName" class="form-control" ng-model="vm.newUser.lastName" required />
  </div>
  <div class="form-group">
    <label for="firstName">Ім'я</label>
    <input type="text" id="firstName" class="form-control" ng-model="vm.newUser.firstName" required />
  </div>
  <div class="form-group">
    <label for="lastName">Побатькові</label>
    <input type="text" id="lastName" class="form-control" ng-model="vm.newUser.surName" required />
  </div>
  <div class="form-group">
    <label for="username">Мета візиту</label>
    <input type="text" id="username" class="form-control" ng-model="vm.newUser.destination" required />
  </div>

  <div class="form-group upload">
    <label class="u1" for="userIdFoto">Фото особи</label>
    </br>
    <button ng-click="vm.snap('one')" class="btn btn-success">Snap Photo</button>
    </br>
    <video id="video_one" autoplay="" width="550" height="414"></video>
    <canvas id="canvas_one" width="550" height="414"></canvas>
  </div>

  <div class="form-group upload">
      <label class="u1" for="userIdFoto">Фото документів</label>
      </br>
      <button ng-click="vm.snap('two')" class="btn btn-success">Snap Photo</button>
      </br>
      <video id="video_two" autoplay="" width="550" height="414"></video>
      <canvas id="canvas_two" width="550" height="414"></canvas>
    </div>

  <div class="form-group">
    <button type="submit" id="submitButton" ng-click="vm.addNew()" class="btn btn-success">
      Зареєструвати
    </button>
  </div>
</form>