<h1>Hi {{vm.user.firstName}}!!</h1>

<form  method="post">
    <div class="form-question">
        <span>{{quest.num}}</span>
        <span>.</span>
        <span class="q">{{quest.question}}</span>
        <div class="answer">
            
            <input type="radio" name="question {{quest.block}}.{{quest.num}}" id="v0" value "-" ng-model="quest.variant[0].text" required
            />
            <label for="v0">{{quest.variant[0].text}}</label>
            <input type="radio" name="question {{quest.block}}.{{quest.num}}" id="v1" value "-" ng-model="quest.variant[1].value" required
            />
            <label for="v1">{{quest.variant[1].text}}</label>
            <input type="radio" name="question {{quest.block}}.{{quest.num}}" id="v2" value "+" ng-model="quest.variant[2].value" required
            />
            <label for="v2">{{quest.variant[2].text}}</label>
            <input type="radio" name="question {{quest.block}}.{{quest.num}}" id="v3" value "-" ng-model="quest.variant[3].value" required
            />
            <label for="v3">{{quest.variant[3].text}}</label>
        </div>
    </div>
    <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUnsvers()">Save</button>
            <button class="btn btn-danger" ng-click="vm.sendUnsvers()">send</button>
        </div>
    <div class="form-question">
        
        <span ng-if="1">Loading </span>
       
    </div>

</form>