<div class="userList_title">
    <div class="userList_item nohover">
        <div class="user_info">
            <div class="col-lg-3 name">Name</div>
            <div class="col-lg-3 lastname">Surname</div>
            <div class="col-lg-3 user_name">Username</div>
            <div class="col-lg-3 user_score">Score</div>
            <div class="col-lg-3 user_role">Role</div>
        </div>
    </div>
</div>
<div class="userList_form">
    <div class="userList_item" ng-click="" ng-repeat="user in vm.allUsers">
        <div class="user_info">
            <div class="col-lg-3 firs_name">{{user.firstName}}</div>
            <div class="col-lg-3 last_name">{{user.lastName}}</div>
            <div class="col-lg-3 user_name">{{user.username}}</div>
            <div class="col-lg-3 user_destination">{{user.score}}</div>
            <div class="col-lg-3 user_role">{{user.role}}</div>
        </div>
    </div>
</div>