<form method="post">
    <span class="clock"></span>
    <div class="form-question" ng-repeat="(index,quest) in vm.quest">
        <span class="num">{{index+1}}</span>
        <span>.</span>
        <span class="q">{{quest.question}}</span>
        <div class="answer" ng-repeat=" (num,variant) in quest.variant">
            
            <input type="radio" name="question {{quest.block}}.{{quest.num}}" id="v{{num}}_{{quest.block}}.{{quest.num}}" value="{{variant.value?'+':'-'}}"
                required />
            <label for="v{{num}}_{{quest.block}}.{{quest.num}}">{{variant.text}}</label>

        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-danger" ng-click="vm.sendAnsvers()">Завершити та відправити тестування</button>
    </div>
</form>